* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* font-family: "Roboto", sans-serif; */

  --color-link-ative: hsla(0, 0%, 100%, 1);
  --color-link-noative: hsla(240, 7%, 78%, 1);
  --color-logo-button: hsla(0, 0%, 100%, 1);
  --h1-p-color: hsla(240, 9%, 89%, 1);
  --bg-img: lightgray;
}

/* fonts */
h1,
h2,
p,
a,
button {
  font-family: "Roboto", sans-serif;
}

/* BODY */

.bg-img {
  background-image: url("/image/background-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--bg-img);
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
#navbar {
  display: flex;
  width: 128rem;
  height: 12.2rem;
  padding: 4rem 72rem 4rem 7rem;
  align-items: center;

  gap: 4.4rem;
}

#navbar #logo {
  width: 5rem;
  height: 4.2rem;
  fill: var(--h1-p-color);
}

#navbar a {
  appearance: none;
  text-decoration: none;

  color: var(--color-link-noative);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.2rem;
}

#navbar .nav-link.active {
  color: var(--color-link-ative);
}


/* home.html */
#app.home-css {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 17.2rem;
}

#app.home-css h1 {
  color: var(--h1-p-color);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 125%; /* 60px */
}

#app.home-css button {
  display: inline-flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  border-radius: .5rem;
  border: .2rem solid #fff;
  
  color: var(--color-logo-button);
  background-color: transparent;
}

#app.home-css .home-html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 2.4rem;
}