* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smmoothing: antialiased;
}

:root {
  font-family: "Mulish", sans-serif;

  --color-blue-100: #065e7c;
  --color-blue-200: rgba(255, 255, 255, 0.2);
  --color-gray-100: #f4fcff;
  --color-h-100: #202024;
  --color-p-100: #121214;
}

.page {
  max-width: 430px;
}

p {
  color: var(--color-p-100);
  line-height: 160%;
}

h1,
h2,
h3 {
  color: var(--color-h-100);
  line-height: 160%;
  font-weight: 700;
}

header,
.curtida button {
  background: var(--color-blue-100);
}

header {
  display: flex;
  max-width: 430px;
  max-height: 72px;
  padding: 12px 28px;
  align-items: center;
  gap: 25px;
  justify-content: space-around;
  flex-shrink: 0;
}

header #logo {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 9999px;
  background: var(--color-gray-100);
}

header label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

header input {
  display: flex;
  padding: 12px 16px 12px 14px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;

  border-radius: 4px;
  background: var(--color-blue-200);
  border: none;
  color: white;
}

header input::placeholder {
  color: rgba(255, 255, 255, 0.763);
}

main .img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main .cat-img {
  height: 100%;
  width: 100%;
}

main h1 {
  margin-top: 34px;
  font-size: 24px;
}

main .corpo-main {
  padding: 0 34px 41px;
}

main .curtida {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

main .botao-curtida {
  display: inline-flex;
  gap: 12px;
}

main button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
}

main .texto-principal {
  margin-top: 31px;

  font-size: 16px;
  font-weight: 400;
}

section {
  width: 384px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 34px;
}

section figure {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 16px;
}

section figure img {
  width: 151px;
  height: 84px;
  object-fit: cover;
  flex-shrink: 0;
}

section .artigos-text {
  margin-left: 16px;
  flex: 1;
}

section figure h3 {
  font-size: 18px;
}

section figure p {
  font-size: 14px;
  font-weight: 400;
}

footer {
  display: flex;
  width: 430px;
  height: 64px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background: #387e96;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

/* ANIMATION */

.rotate-in-hor {
  -webkit-animation: rotate-in-hor 1s cubic-bezier(0.39, 0.575, 0.565, 1) 300ms
    both;
  animation: rotate-in-hor 1s cubic-bezier(0.39, 0.575, 0.565, 1) 300ms both;
}

@-webkit-keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.8s ease-out 300ms both;
  animation: roll-in-left 0.8s ease-out 300ms both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    max-width: 1440px;
  }

  header {
    max-width: 1440px;
    max-height: 72px;
    display: flex;
    padding: 12px 112px;
    justify-content: space-between;
    align-items: center;
    /* flex-shrink: 0; */
  }

  header input {
    /* width: auto; */
    width: 1083px;
    padding: 12px 16px 12px 14px;

    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
  }

  main {
    display: grid;
    grid-template-areas:
      "img-main img-main artigo"
      "text-main text-main artigo"
      "text-main text-main artigo";
    /* column-gap: 15px; */

    /* justify-content: center;
    align-items: center; */

    padding: 44px 110px;
  }

  main .img-main {
    grid-area: img-main;
  }

  main .img {
    width: 803px;
  }

  main .text-main {
    grid-area: text-main;

    padding: 0;
  }

  main .article-main {
    grid-area: artigo;
    padding: 0;

    margin-left: 34px;
  }

  footer {
    display: flex;
    width: 1440px;
    height: 64px;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }
}
